<?xml version="1.0"?>
<configuration>
	<location path="CheckMyStatus">
		<system.webServer>
			<dataflexHttpModule application="ColegioAppWeb" enabled="true" errortype="0" object="oCheckStatus" verbs="GET"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="SchoolHouseList">
		<system.webServer>
			<dataflexHttpModule application="ColegioAppWeb" enabled="true" errortype="0" object="oListSchool" verbs="GET, POST"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="Student">
		<system.webServer>
			<dataflexHttpModule application="ColegioAppWeb" enabled="true" errortype="0" object="oListStudent" verbs="GET, POST"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="DfResource">
		<system.webServer>
			<dataflexHttpModule application="ColegioAppWeb" enabled="true" errortype="0" object="oWebResourceManagerProxy" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="WebServiceDispatcher.wso">
		<system.webServer>
			<dataflexHttpModule application="ColegioAppWeb" enabled="true" errortype="1" object="oWebServiceDispatcher" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
</configuration>
